name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout código
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Aplicar migraciones (prueba)
      run: |
        python manage.py migrate --noinput

    - name: Correr pruebas Django
      run: |
        python manage.py test

    - name: Validar archivo de configuración
      run: |
        python manage.py check
